<launch>
  <!-- <include file="$(find ros_openpose)/launch/run.launch">
    <arg name="camera" default="nodepth" />
  </include> -->
  <!-- <arg name="keypoints" default="/pipe_1_at_rpstone/segment_1/keypoints" />
  <arg name="gestures" default="/pipe_1_at_rpstone/segment_2/gestures" /> -->
  <arg name="keypoints" default="/random_thing" />
  <arg name="gestures" default="/random_thing_2" />
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  <node pkg="aliencontrol" type="aliencontrol" name="gesture_classifier">
  <!-- in the node program pub goes first, sub goes second -->
    <param name="cmd" value="node $(find gesture_detector)/src/Openposesub.js $(arg gestures) $(arg keypoints)"/>
  </node>
</launch>

<!-- This does nothing here, could not override so must be modified in config_nodepth directly  -->
<!--
<arg name="color_topic" default="/usb_cam/image_raw" /> 
<arg name="pub_topic" default="/frame" />
<arg name="openpose_args" value="-.-model_folder $(env HOME)/openpose/models/ -.-hand -.-net_resolution -1x128" /> -->